:root {
  --main-font: "Montserrat", sans-serif;
}

body {
  margin: 0;
 font-family: "Montserrat", sans-serif;
  background: #f6f7fb;
}

#container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 200px auto;  
  grid-template-rows: auto auto auto;
  min-height: 100vh;
}


#header {
  grid-area: header;
  background: #333;
  color: white;
  padding: 15px;
}

#koshik {
  margin-left: 10px; 
}




#header a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}


#sidebar {
  grid-area: sidebar;
  background: #eee;
  padding: 15px;
}


#content {
  grid-area: content;
  padding: 20px;
  background: white;
}
#footer {
  grid-area: footer;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

